################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/JXGIS.Broadcast.Web/obj
/JXGIS.Broadcast.Web/bin
/JXGIS.Broadcast.Tool/bin/Debug
/JXGIS.Broadcast.StaticLib/bin/Debug
/JXGIS.Broadcast.Service/bin
/JXGIS.Broadcast.Entity/bin
/JXGIS.Broadcast.Business/bin
/JXGIS.Broadcast.BaseLib/bin
/JXGIS.Broadcast.Tool/obj
/JXGIS.Broadcast.StaticLib/obj
/JXGIS.Broadcast.Service/obj
/JXGIS.Broadcast.Entity/obj
/JXGIS.Broadcast.Business/obj
/JXGIS.Broadcast.BaseLib/obj
