@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <style>
        html, body {
            height: 100%;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        .main {
            height: 100%;
            width: 100%;
            background-image: url('../../Imgs/index_backgroud.jpg');
            background-repeat: repeat;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -508px;
            margin-top: -335px;
            height: 675px;
            width: 1024px;
            background-image: url('../../Imgs/index_maincontent.png');
        }

        .btn {
            position: absolute;
            bottom: 40px;
            background-image: url('../../Imgs/index_btn.png');
            width: 200px;
            height: 80px;
            overflow: hidden;
            left: 390px;
        }

            .btn:hover {
                background-position-y: 80px;
            }

        .content span {
            font-family: 'Microsoft YaHei';
            font-size: 14px;
            color: #666;
            position: absolute;
            top: 410px;
            left: 90px;
        }

            .content span a, .content span a:visited {
                color: #666;
                text-decoration: none;
            }

                .content span a:hover {
                    text-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
                    color: #2075eb;
                    text-decoration: underline;
                }

        .content span.top2 {
            top: 495px;
        }

        .content span.left1 {
            left: 315px;
        }

        .content span.left2 {
            left: 525px;
        }

        .content span.left3 {
            left: 725px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="content">
            <span><a href="http://www.jxggzxc.com" target="_blank">嘉兴公共自行车服务有限公司</a></span>
            <span class="left1"><a href="http://www.jxghqy.com" target="_blank">嘉兴市国鸿汽车运输有限公司</a><br/><a href="http://www.jiaxingbus.com" target="_blank">嘉兴市公共交通公司</a></span>
            <span class="left2"><a href="http://jjzd.jxgaj.gov.cn/" target="_blank">嘉兴市公安局交通警察支队</a></span>
            <span class="left3"><a href="http://www.ejcs.com.cn/" target="_blank">宜居城市网</a></span>
            @*<span><a href="http://jjzd.jxgaj.gov.cn/" target="_blank">嘉兴市公安局交通警察支队</a></span>*@
            <span class="top2"><a href="http://www.jxswjt.com/" target="_blank">嘉兴市水务投资集团有限公司</a></span>
            <span class="top2 left1"><a href="http://www.95598.cn" target="_blank">国网浙江省电力公司&ensp;嘉兴供电<br />公司</a></span>
            <span class="top2 left2"><a href="http://www.jxrqgs.com" target="_blank">嘉兴市燃气集团有限公司</a></span>
            <span class="top2 left3">用户上报、用户反馈</span>
            <a class="btn" href="/Broadcast/BroadcastMap"></a>
        </div>
    </div>
</body>
</html>
